
    .cardappointment {
        border: 0;
        border-radius: 0.1875rem;
        position: relative;
        width: 900px;
        margin-bottom: 30px;
        box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
        padding: 30px;
        margin-right: auto;
        margin-left: auto;
        display: block
    }

    .container-appointment {
        justify-content: center !important;
        margin: auto;
        width: 800px;
        padding: 30px;
        display: inline-block;
    }